@charset "UTF-8";
.fondo {
  background-color: #212F3D;
}

/* Estilos Menú */
/* Estilos títulos */
h1 {
  color: #ff6163;
  font-family: 'Pacifico';
  font-size: 50px;
  text-align: center;
}

h2 {
  color: #14ffa7;
  font-family: 'Acme';
  font-size: 25px;
  text-align: center;
}

.grilla {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto 80px;
}

.grillaServ {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.grillaServ div {
  font-size: 18px;
  color: whitesmoke;
  font-family: 'Acme';
  background-color: #f75973;
}

.parrafo {
  color: #FF533D;
  font-family: 'Acme';
  font-size: 35px;
  margin-top: 200 px;
}

.padreFlex {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  margin-left: 1100px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

header {
  position: relative;
}

main {
  justify-content: center;
  margin-left: 200px;
}

.imagen {
  display: flex;
  justify-content: flex-end;
}

footer {
  background-color: #14ffa7;
  font-family: "Acme";
  color: #212F3D;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}
